<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>New transaction</title>
  </head>
<body>

  <%- include('../partials/header') %>

  <main>
    
  </main>

  <%- include('../partials/footer') %>
  
</body>
</html>