* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --principal:#5AC7A6;
  --second: #377A66;
  --third: #BCFBE8;
  --fourth: #677E77;
  --invalid : rgba(211, 8, 8,0.5);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1 {
  color: var(--second);
  margin: 1rem;
  text-align: center;
}

li {
  list-style-type: none;
}

.flexbox {
  display: flex;
  justify-content: center;
}

.mainButton {
  background-color: var(--second);
  border: none;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  width: 20%;
  transition: all 500ms;
}

.mainButton a {
  color: white;
  display: block;
  font-weight:bold;
  text-align: center;
}

.mainButton:hover {
  opacity: 0.5;
}

.text-danger{
  color: var(--invalid);
  font-weight: bold;
}
