<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>.:Home:.</title>
  </head>
<body>

  <%- include('partials/header') %>

  <main>
    <h1>FinApp Tracker</h1>
    <div class="flexbox">
        <button class="mainButton"><a href="/users/login">Login</a></button>
        <button class="mainButton"><a href="/users/register">New User</a></button>
    </div>
  </main>

  <%- include('partials/footer') %>
  
</body>
</html>
